.falling-object {
    width: 0;
    height: 0;
    position: absolute;
}
.falling-object .falling-object-content {
    width: 5dvh;
    height: 5dvh;
    transform: translate(-50%, -50%);
    background-color: blue;
}

.falling-object-a .falling-object-content {
    background-color: yellow;
}
.falling-object-b .falling-object-content {
    background-color: pink;
}
.falling-object-c .falling-object-content {
    background-color: black;
}